<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\nlog-internal.txt" internalLogLevel="Trace"
      throwConfigExceptions="true"
>

    <targets>
        <target 
                name="logfile" 
                xsi:type="File" 
                fileName="${tempdir}\procedural\ComputeCS.log" 
                layout="${longdate} - ${level:uppercase=true} - ${logger} - ${callsite} - ${message} - ${exception:format=tostring}"
                maxArchiveFiles="4"
                archiveAboveSize="2048000"
                archiveEvery="Day"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>