<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\nlog-internal.txt" internalLogLevel="Trace"
      throwConfigExceptions="true"
>

    <targets>
        <target 
                name="logfile" 
                xsi:type="File" 
                fileName="C:\Users\kongs\Documents\Procedural\file.txt" 
                layout="${longdate} - ${level:uppercase=true} - ${logger} - ${threadid} - ${message} - ${exception:format=tostring}" 
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>